{{diagnostic}}

<div class="container">
  <h1>Media Monitoring Form</h1>
  <div  [hidden]="submitted">
    <form *ngIf="active" (ngSubmit)="onSubmit()" #mediaForm="ngForm">
      <div class="form-group">
        <label for="ngoCode">Code</label>
        <input  (change) = "validateNGOCode()" type="text" class="form-control" required
            [(ngModel)]="model.ngoCode"
            ngControl="ngoCode"
               #ngoCode="ngForm"/>
        <div *ngIf ="ngoCode.dirty && !ngoCode.valid" class="alert alert-danger">Code is required</div>
        <div *ngIf ="validNGOCode == false" class="alert alert-danger">Code is Invalid</div>
        <!--<div [hidden] ="ngoCode.valid || ngoCode.pristine" class="alert alert-danger">Code is required</div>-->
      </div>

      <div class="form-group">
        <label for="originatorName">Originator Name</label>
        <input type="text" class="form-control" required
             [(ngModel)]="model.originatorName"
             ngControl="originatorName" #originatorName="ngForm"/>
        <div *ngIf ="originatorName.dirty && !originatorName.valid" class="alert alert-danger">Originator Name is required</div>
        <!--<div [hidden]="originatorName.valid || originatorName.pristine" class="alert alert-danger">Originator Name is required</div>-->
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" required pattern="^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$"
             [(ngModel)]="model.email"
             ngControl="email" #email="ngForm" />
        <div *ngIf ="email.dirty && !email.valid" class="alert alert-danger">Please enter a valid email address</div>
        <!--<div [hidden]="email.valid || email.pristine" class="alert alert-danger">Email is required</div>-->
      </div>

      <div class="form-group">
        <label for="countryOfOffence">Country of Offence</label>
        <select class="form-control" [(ngModel)]="model.countryOfOffence" ngControl="countryOfOffence" #organisationType="ngForm" required>
          <option *ngFor="let country of countries">{{country.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="subjectName">Subject Name</label>
        <input type="text" class="form-control" required
               [(ngModel)]="model.subjectName"
               ngControl="subjectName" #subjectName="ngForm" />
        <div *ngIf ="subjectName.dirty && !subjectName.valid" class="alert alert-danger">Subject Name is required</div>
        <!--<div [hidden]="sourceUrl.valid || sourceUrl.pristine" class="alert alert-danger">Source URL is required</div>-->
      </div>

      <div class="form-group">
        <label for="sourceUrl">Source URL</label>
        <input type="text" class="form-control" required pattern="^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$"
               [(ngModel)]="model.sourceUrl"
               ngControl="sourceUrl" #sourceUrl="ngForm" />
        <div *ngIf ="sourceUrl.dirty && !sourceUrl.valid" class="alert alert-danger">A valid Source URL is required</div>
      </div>

      <div class="form-group">
        <label for="headline">Headline</label>
        <input type="text" class="form-control" required
               [(ngModel)]="model.headline"
               ngControl="headline" #headline="ngForm" />
        <div *ngIf ="headline.dirty && !headline.valid" class="alert alert-danger">A value for Headline is required</div>
      </div>

      <div class="form-group">
        <label for="additionalInformation">Additional Information</label>
        <textarea rows="4" class="form-control"
               [(ngModel)]="model.additionalInformation"
               ngControl="additionalInformation" #additionalInformation="ngForm" ></textarea>
      </div>

      <div class="form-group">
        <div class="input-controls">

          <label for="entityType">Entity Type</label>
          <div>
            <label>
              <input #person name="entityType" type="radio" value="Person"  (click)="model.entityType = person.value;" />
              Person
            </label>
          </div>
          <div>
            <label>
              <input #entity name="entityType" type="radio"  value="Entity" (click)="model.entityType = entity.value;"  />
              Organisation
            </label>
          </div>

          <div hidden>
            <input type="text" class="form-control" required
                   [(ngModel)]="model.entityType"
                   ngControl="entityType" #entityType="ngForm" />
          </div>

        </div>
      </div>

      <!-- Person Entity Types -->
      <div *ngIf="model.entityType == 'Person'">

        <div class="form-group">
          <label for="nationality">Nationality (Individual)</label>
          <input type="text" class="form-control" required
                 [(ngModel)]="model.nationality"
                 ngControl="nationality" #nationality="ngForm" />
          <div *ngIf ="nationality.dirty && !nationality.valid" class="alert alert-danger">Nationality is required</div>
          <!--<div [hidden]="nationality.valid || nationality.pristine" class="alert alert-danger">Nationality is required</div>-->
        </div>

        <div class="form-group">
          <label for="age">Age</label>
          <input type="text" class="form-control" maxlength="2" pattern="^(0?[1-9]|[1-9][0-9])$"
                 [(ngModel)]="model.age"
                 ngControl="age" #age="ngForm" />
          <div *ngIf ="age.dirty && !age.valid" class="alert alert-danger">Age must be between 1 and 99 years</div>
        </div>

        <!--<div class="form-group">
          <label for="dob">Date of Birth</label>
          <input type="date" class="form-control"
                 [(ngModel)]="model.dob"
                 ngControl="dob" #dob="ngForm" />
        </div>-->

        <div class="form-group">
          <div class="input-controls">

            <label for="gender">Gender</label>
            <div>
              <label>
                <input #male name="gender" type="radio" value="Male"  (click)="model.gender = male.value;" />
                Male
              </label>
            </div>
            <div>
              <label>
                <input #female name="gender" type="radio"  value="Female" (click)="model.gender = female.value;"  />
                Female
              </label>
            </div>

            <div hidden>
              <input type="text" class="form-control" required
                     [(ngModel)]="model.gender"
                     ngControl="gender" #gender="ngForm" />
            </div>

          </div>
        </div>


      </div>

      <!-- Organisation Inputs -->
      <div *ngIf="model.entityType == 'Entity'">

        <div class="form-group">
          <label for="placeOfIncorporation">Place of Incorporation</label>
          <input type="text" class="form-control" required
                 [(ngModel)]="model.placeOfIncorporation"
                 ngControl="placeOfIncorporation" #placeOfIncorporation="ngForm" />
          <div *ngIf ="placeOfIncorporation.dirty && !placeOfIncorporation.valid" class="alert alert-danger">Place of Incorporation is required for an Entity</div>
          <!--<div [hidden]="placeOfIncorporation.valid || placeOfIncorporation.pristine" class="alert alert-danger">Place of Incorporation is required for an Entity</div>-->
        </div>

        <!--
       <div class="form-group">
          <label for="organisationType">Organisation Type</label>
          <input type="text" class="form-control" required
                 [(ngModel)]="model.organisationType"
                 ngControl="organisationType" #organisationType="ngForm" />
          <div *ngIf ="organisationType.dirty && !organisationType.valid" class="alert alert-danger">Organisation Type is required for an Entity</div>
        </div> -->

        <!-- Drop Down Version -->
        <!--<div class="form-group">
          <label for="organisationType">Organisation Type</label>
          <select class="form-control" [(ngModel)]="model.organisationType" ngControl="organisationType" #organisationType="ngForm" required>
            <option></option>
            <option>Corporation</option>
            <option>Company</option>
            <option>Club</option>
            <option>4</option>
          </select>
          <div [hidden]="organisationType.valid || organisationType.pristine" class="alert alert-danger">Organisation Type is required for an Entity</div>
        </div>-->



      </div>

      <button type="submit" class="btn btn-default" [disabled]="!mediaForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="resetMediaSubmission()">Reset Form</button>
    </form>
  </div>
  <!--<div [hidden]="!submitted">-->
  <div *ngIf="submitted">
    <h2>Your information has been submitted. </h2>
    <br>
    <button class="btn btn-default" (click)="submitted=false; newMediaSubmission()">Submit another Media Item</button>
  </div>
</div>
