<div class="container">
  <h1>Media Monitoring Form</h1>
  <div  *ngIf="submitted == false">
    <form *ngIf="active" (ngSubmit)="onSubmit()" #mediaForm="ngForm">
      <div class="form-group">
        <label for="ngoCode">Code</label>
        <input  (change) = "validateNGOCode()" type="text" class="form-control" required
            [(ngModel)]="model.ngoCode"
            ngControl="ngoCode"
               #ngoCode="ngForm"/>
        <div *ngIf ="ngoCode.dirty && !ngoCode.valid" class="alert alert-danger">Code is required</div>
        <div *ngIf ="validNGOCode == false" class="alert alert-danger">Code is Invalid</div>
      </div>

      <div class="form-group">
        <label for="subjectName">Subject Name</label>
        <input type="text" class="form-control" required
               [(ngModel)]="model.subjectName"
               ngControl="subjectName" #subjectName="ngForm" />
        <div *ngIf ="subjectName.dirty && !subjectName.valid" class="alert alert-danger">Subject Name is required</div>
      </div>

      <div class="form-group">
        <label for="countryOfOffence">Country of Offence</label>
        <select class="form-control" [(ngModel)]="model.countryOfOffence" ngControl="countryOfOffence" #countryOfOffence="ngForm" required>
          <option *ngFor="let country of countries">{{country.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="sourceUrl">Source URL</label>
        <input type="text" class="form-control" required pattern="^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$"
               [(ngModel)]="model.sourceUrl"
               ngControl="sourceUrl" #sourceUrl="ngForm" />
        <div *ngIf ="sourceUrl.dirty && !sourceUrl.valid" class="alert alert-danger">A valid Source URL is required</div>
      </div>
      <div class="form-group">
        <label for="optSourceUrl1">Additional Source URLs</label>
        <input type="text" class="form-control" pattern="^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$"
               [(ngModel)]="model.optSourceUrl1"
               ngControl="optSourceUrl1" #optSourceUrl1="ngForm" />
        <div *ngIf ="optSourceUrl1.dirty && !optSourceUrl1.valid" class="alert alert-danger">A valid Optional Source URL is required</div>
        <label for="optSourceUrl2"></label>
        <input type="text" class="form-control" pattern="^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$"
               [(ngModel)]="model.optSourceUrl2"
               ngControl="optSourceUrl2" #optSourceUrl2="ngForm" />
        <div *ngIf ="optSourceUrl2.dirty && !optSourceUrl2.valid" class="alert alert-danger">A valid Optional Source URL is required</div>

      </div>
      <div class="form-group">
        <label for="headline">Headline</label>
        <input type="text" class="form-control" required
               [(ngModel)]="model.headline"
               ngControl="headline" #headline="ngForm" />
        <div *ngIf ="headline.dirty && !headline.valid" class="alert alert-danger">A value for Headline is required</div>
      </div>

      <div class="form-group">
        <label for="additionalInformation">Additional Background Details</label>
        <textarea rows="4" class="form-control"
               [(ngModel)]="model.additionalInformation"
               ngControl="additionalInformation" #additionalInformation="ngForm" ></textarea>
      </div>

      <div class="form-group">
        <div class="input-controls">

          <label for="entityType">Entity Type</label>
          <div>
            <label>
              <input #person name="entityType" type="radio" value="Person"  (click)="model.entityType = person.value;" />
              Person
            </label>
          </div>
          <div>
            <label>
              <input #organisation name="entityType" type="radio"  value="Organisation" (click)="model.entityType = organisation.value;"  />
              Organisation
            </label>
          </div>

          <div hidden>
            <input type="text" class="form-control" required
                   [(ngModel)]="model.entityType"
                   ngControl="entityType" #entityType="ngForm" />
          </div>

        </div>
      </div>

      <!-- Person Entity Types -->
      <div *ngIf="model.entityType == 'Person'">

        <div class="form-group">
          <label for="nationality">Nationality (Individual)</label>
          <select class="form-control" [(ngModel)]="model.nationality" ngControl="nationality" #nationality="ngForm" >
            <option *ngFor="let country of countries">{{country.name}}</option>
          </select>

          <div *ngIf ="nationality.dirty && !nationality.valid" class="alert alert-danger">Nationality is required</div>
        </div>

        <div class="form-group">
          <label for="age">Age</label>
          <input type="text" class="form-control" maxlength="2" pattern="^(0?[1-9]|[1-9][0-9])$"
                 [(ngModel)]="model.age"
                 ngControl="age" #age="ngForm" />
          <div *ngIf ="age.dirty && !age.valid" class="alert alert-danger">Age must be between 1 and 99 years</div>
        </div>

        <div class="form-group">
          <div class="input-controls">

            <label for="gender">Gender</label>
            <div>
              <label>
                <input #male name="gender" type="radio" value="Male"  (click)="model.gender = male.value;" />
                Male
              </label>
            </div>
            <div>
              <label>
                <input #female name="gender" type="radio"  value="Female" (click)="model.gender = female.value;"  />
                Female
              </label>
            </div>

            <div hidden>
              <input type="text" class="form-control"
                     [(ngModel)]="model.gender"
                     ngControl="gender" #gender="ngForm" />
            </div>

          </div>
        </div>


      </div>

      <button type="submit" class="btn btn-default" [disabled]="!mediaForm.form.valid && validNGOCode">Submit</button>
      <button type="button" class="btn btn-default" (click)="resetMediaSubmission()">Reset Form</button>
    </form>
  </div>

  <div *ngIf="submitted == true">

    <div class="submit submit-response" *ngIf="submitData.success != null">
      <h2>The Media Monitoring details have been submitted to SKS. </h2>
    </div>

    <div *ngIf="submitData.error != null" class="alert alert-danger">
      <h2>Submission Failed. </h2>
      <h3>{{submissionResponse}}</h3>
    </div>


    <br>
    <button class="btn btn-default" (click)="submitted=false; newMediaSubmission()">Submit another Media Item</button>
  </div>
</div>
